:root{
    --purple: hsl(254, 38%, 48%);
    --white: white;
    --darkPurple: hsl(254, 53%, 36%);
}

body{
    margin: 0px;
    text-align: center;
     background: rgb(238, 238, 238);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    padding: 15px;
}

#hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: var(--purple) ;
    color: var(--white);
    padding-bottom: 5px;
}

#input-el{
    display: block;
    width: 120px;
    margin: 10px auto;
    height: 80px;
    background: var(--purple);
    color: var(--white);
    border: 1px solid rgb(197, 190, 190);
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#btn-el {
    display: block;
    width: 120px;
    margin: 30px auto 35px auto;
    padding: 10px 12px;
    border: none;
    border-radius: 3px;
    background: whitesmoke;
    color: var(--darkPurple);
}

#btn-el:hover{
    cursor: pointer;
    background: var(--white);

}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 35px;
    color: var(--darkPurple);
}

#container > div {
    background: var(--white);
    margin: 20px auto;
    border-radius: 5px;
    width: 95%;
}